@charset "utf-8";
/* CSS Docunent */
@font-face {
    font-family: "StelaKada2";
    src: url("https://arteada.github.io/StelaKadaProjektni//css/fonts/stelakada1-webfont.woff2") format("woff2"),
         url("https://arteada.github.io/StelaKadaProjektni//css/fonts/stelakada1-webfont.woff") format("woff'",
    font-weight: normal;
    font-style: normal;

}

p {
	color: Indigo;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height:14px;
	width:600px;
	background-color:lavender;
	padding:20px;
}

h1 {
	font-family: "StelaKada2";
	color: indigo
}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:Indigo;
}

span {color: rgb(255,0,255);}
body{
		background-image:url("SLIKE/gradient pozadina.jpg");
}

a {
	color:RebeccaPurple;
	background-color:lavender;
	padding: 5px;
	line-height: 40px;
	border:1px solid #4B0082;
}
a:hover{
	background-color:darkgray;

}
img{
	height:200px;	
}