@charset "utf-8";
/* CSS Docunent */
p {
	color: Indigo;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height:14px;
	width:600px;
	background-color:lavender;
	padding:20px;
}

h1 {
	font-family: StelaKada2;
	color:Indigo;
}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:Indigo;
}

span {color: rgb(255,0,255);}
body{
		background-image:url("SLIKE/gradient pozadina.jpg");
}

a {
	color:RebeccaPurple;
	background-color:lavender;
	padding: 5px;
	line-height: 40px;
	border:1px solid #4B0082;
}
a:hover{
	background-color:darkgray;

}
img{
	height:200px;	
}